div.testcard
  p テスト用クレジットカード番号
  table.table.table-sm
    thead
      tr
        th 番号
        th ブランド
    tbody
      tr
        td 4242424242424242
        td Visa
      tr
        td 4012888888881881
        td Visa
      tr
        td 5555555555554444
        td MasterCard
      tr
        td 5105105105105100
        td MasterCard
      tr
        td 3530111333300000
        td JCB
      tr
        td 3566002020360505
        td JCB
      tr
        td 378282246310005
        td American Express
      tr
        td 371449635398431
        td American Express
      tr
        td 38520000023237
        td Diners Club
      tr
        td 30569309025904
        td Diners Club
      tr
        td 6011111111111117
        td Discover
      tr
        td 6011000990139424
        td Discover